.modal {
  background: #111;
  padding: 15px 15px;
  border-radius: 10px;
  border:2px solid rgb(73,73,73);
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  opacity: 0;
  animation: slideIn 0.6s ease forwards;
}
.closeModel {
  animation: slideOut 0.5s ease forwards;
}
@keyframes slideIn{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut{
  from{
    opacity: 1;
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    transform: translateY(-30px);
  }
}
.login,.sign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.formBox{
    width: 100%;
    padding: 0px 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
}
.form input {
  width: 100%;
  padding:10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 500;
}
.form input:focus{
    border: 2px solid orange;
    outline: none;
}
.form input::placeholder{
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: rgba(140, 138, 138, 0.841);
}
.form button {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  background-color: gold;
  font-weight: bold;
  cursor: pointer;
}
