.movieHome2{
  background-color: rgb(58, 58, 58);
  border-top-left-radius: 30px;
  padding: 25px;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  column-gap: 0px;
  row-gap: 20px;
}
.moviesListBox{
   max-width:250px;
   max-height: 330px;
   background-color: rgb(77, 73, 73);
   border-radius: 10px;
   padding: 9px;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   opacity: 0;
   animation: slideUpFade 0.8s ease forwards;
}
.emptyBox{
   width:250px;
   min-height: 330px;
   background-color: rgba(77, 73, 73, 0.525);
   border-radius: 10px;
   padding: 9px;
   animation:fadeIn 0.3s ease;
}
.emptyBox.fadeOut{
  animation: fadeOut 0.3s ease;
}
.moviesListBox:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.moviesListBox .poster{
    height: 250px;
    border-radius: 10px;
    position:relative;
}
.moviesListBox .poster img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.moviesListBox .detail{
    display: grid;
    grid-template-columns: 140px 1fr;
    padding: 10px 3px;
}
.detail span:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:6px;
}
.detail span:first-child h4:first-child{
  font-family: "Roboto", serif;
  color: white;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 300;
}
.detail span:first-child h4:last-child{
  font-family: "Roboto", serif;
  color: rgb(176, 173, 173);
  font-weight: 200;
  font-size: 0.8rem;
}
.detail span:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.detail span:last-child h5{
  font-family: "Roboto", serif;
  width: 30px;
  display: inline-block;
  padding: 2px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color:rgba(149, 149, 149, 0.613) ;
  color: white;
  font-weight: 300;
  font-size: 0.75rem;
}
.noResult{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noResult h2{
  color: rgb(106, 103, 103);
  font-family: "Roboto", serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 2rem;
  white-space: nowrap;
  text-align: center;
} 
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.ribbon {
  position: absolute;
  top: 22px;
  right:-23px; 
  width: 70px;
  border-radius:10px 0px 4px 0px ;
  text-align: center;
  line-height: 25px;
  color: black;
  font-weight: 400;
  transform: rotate(90deg);
  animation: fadeIn 0.5s forwards;
  font-size: 14px;
  z-index: 10;
  font-family: "Roboto", serif;
  background-color: rgb(54, 202, 9);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}
.overlay.fadeOut{
  animation: fadeOut 0.3s ease;
}

.bookingBox {
  width: 700px;
  background: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
  color: white;
  animation: slideUp 0.3s ease;
}
.bookingBox.slideOut{
  animation: slideOut 0.3s ease;
}
.bookingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.movieTitle {
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto", serif;
}

.section {
  margin-bottom: 20px;
}

.dateContainer,
.timeContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.dateBox,
.timeBox {
  padding: 8px 14px;
  background: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  font-size:12px;
}

.dateBox:hover,
.timeBox:hover {
  background: #ff4d4d;
}

.bookBtn {
  width: 100%;
  padding: 12px;
  background: red;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
@keyframes slideOut {
  from { transform: translateY(0px); opacity: 1; }
  to { transform: translateY(40px); opacity: 0; }}

.activeDate{
   background: #ff4d4d;
}
