.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  width: 360px;
  border: 2px solid rgb(73,73,73);
  text-align: center;
  color: white;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.otpBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otpBox input {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #000;
  color: white;
}

.verifyBtn {
  background: gold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.success {
  margin-top: 15px;
  color: #00ff88;
  font-size: 18px;
}
