@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Odibee+Sans&display=swap');
.sidebar{
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 7px 8px;
    padding-top: 10px;
    font-family: "Roboto", serif;
}
.first{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 8px 0px;
}
.span1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    animation: FadeIn 1.2s ease forwards;
}
.first .logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;     /* stretch aagama crop pannum */
    object-position: center;
}
.span1 h3{
    font-size: 1.3rem;
    color: white;
    letter-spacing: 1px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu .link{
    width: 100%;
    background-color: rgb(94, 94, 94);
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: white;
    padding: 10px;
    border-top-right-radius:30px ;
    border-bottom-right-radius: 30px;
    text-decoration: none;
    transition: all 0.5s ease-in;
    opacity: 0;
    animation: slideUpFade 1.2s ease forwards;
}
.menu .link:nth-child(1){
  animation-delay: 0.3s;
}
.menu .link:nth-child(2){
  animation-delay: 0.6s;
}
.menu .link:nth-child(3){
  animation-delay: 0.9s;
}
.menu .link:nth-child(4){
  animation-delay: 1.2s;
}

.second{
    display: flex;
    justify-content: center;
}
.second button{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Roboto", serif;
    cursor: pointer;
    font-weight: 600;
    width: 100px;
    background-color: rgb(4, 117, 255);
    color:white;
    transition: all 0.5 ease;
    opacity:0;
    animation: FadeIn 1.3s ease forwards;   
}
.menu .link:hover,.menu .link.active{
  background: linear-gradient(45deg,rgb(255, 255, 4),rgb(243, 237, 160));
  color: black;
  font-weight: 500;
}
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}