@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Odibee+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.watchlistTitle{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbtn{
  width:37px;
  height:37px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: linear-gradient(45deg,rgb(255, 255, 4),rgb(243, 237, 160));
  font-size: 1.250rem;
}
.movieHome2{
  background-color: rgb(58, 58, 58);
  border-top-left-radius: 30px;
  padding: 25px;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  column-gap: 0px;
  row-gap: 20px;
}
.moviesListBoxCustom{
max-width: 530px;  /* required width */
}
.detail{
    display: flex;
    justify-content: center;
    padding: 10px 3px;
}
.bookNowBtn{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 35px;
    color: white;
    background-color: #646262;
    cursor: pointer;
    font-family: "Roboto", serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
    transition: all 0.6s ease;
}
.bookNowBtn:hover{
  background-color: rgb(12, 197, 12);
}
.empty{
    font-family: "Roboto", serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.3rem;
    color:rgb(128, 127, 127);
}
